<main class="formulario">
    <div class="container">
        <h1><span class="titulo">Adicionar nova Vaga</span></h1>
        <div class="row">
            <div class="conteudo">
                <p> <input type="text" placeholder="Id Vaga:"></p>
                <br>
                <p><input type="text" placeholder="Nome da Vaga:"></p>
                <br>
                <P><input type="text" placeholder="Descricao da Vaga:"></P>
                <br>
                <p><input type="number" placeholder="Salario da Vaga:"></p>
                <br>
                <p>Foto da Vaga: <input class="enviaFoto" type="file"></p>

                <button class="botao">Enviar</button>
            </div>
        </div>
    </div>
</main>