<main class="formulario">
    <div class="container ">
        <h1><span class="titulo1">Adicionar</span> vaga</h1>
        <div class="row">
            <div class="conteudo">
                <form >

                    <p><strong>Identificador da Vaga:</strong></p>
                    <p><input type="text" name="id" [(ngModel)]="vaga.id"></p>
                    <br>

                    <p><strong>Nome:</strong></p>
                    <p><input type="text" name="nome" [(ngModel)]="vaga.nome"  placeholder="Ex: vaga de aux"></p>
                    <br>

                    <p><strong>Foto ( escolha entre foto1.jpg á foto9.jpg):</strong></p>
                    <p><input type="text" name="foto" [(ngModel)]="vaga.foto" placeholder="Ex: foto1.jpg"></p>
                    <br>

                    <p><strong>Descricao da Vaga:</strong></p>
                    <P><input type="text" name="descricao" [(ngModel)]="vaga.descricao"  placeholder="Breve descricao"></P>
                    <br>

                    <p><strong>Salario:</strong></p>
                    <p><input type="text" name="salario" [(ngModel)]="vaga.salario"></p>
                    <br>

                    <button class="btn btn-outline-success" (click)="cadastar()">Adicionar</button>
                

                </form>
            </div>
        </div>
    </div>
</main>